version 5.252.0

source https://api.nuget.org/v3/index.json
framework: netstandard20,net452
storage: none

nuget Fsharp.Core >= 4.3.4 lowest_matching:true
nuget FSharp.Control.AsyncSeq ~> 2.0
github fsprojects/FSharpx.Collections src/FSharpx.Collections/CircularBuffer.fs

group Test
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp21,netcoreapp31
    storage: none

    nuget Fsharp.Core >= 4.3.4 lowest_matching:true
    nuget NUnit
    nuget NUnit3TestAdapter
    nuget Microsoft.NET.Test.Sdk
    nuget FSharp.Control.AsyncSeq
    github fsprojects/FSharpx.Collections src/FSharpx.Collections/CircularBuffer.fs